h1 {
  font-family: Lobster, cursive;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
}

.main {
  width: 33%;
  text-align: center;
  position: relative;
  margin-left: calc(100% / 3.3);
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 10rem;
  color: #ffffff;
}

.text {
  background-color: #283e50;
  margin-top: -0.25rem;
}

img {
  display: block;
  width: 100%;
}

p {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}
